.text__button {
  line-height: 132%;
  font-size: 20px;
  letter-spacing: 0.015em;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 10px;
}

.text__button--primary {
  color: white;
  border-color: #211f1c;
  background-color: #211f1c;
}

.text__button--secondary {
  background: #ffffff;
  border: 1px solid #616467;
  color: #616467;
  margin: 0 10px;

  &:hover {
    background-color: #f5f7fb;
    transition: 0.3s;
  }
}

.text__button--gray {
  background: #393d45;
  color: white;
  border: none;
}

@media screen and (max-width: 360px) {
  .text__button {
    width: 100%;
    padding: 5px !important;
  }
}
