.aboutpage__content--container {
  width: 87%;
  margin: 0 auto 175px;
  color: #616467;
}

.aboutpage__image {
  width: 626.93px;
  height: 543px;
  margin: 0 auto;
  object-fit: cover;
  border: 4px solid #616467;
  margin-bottom: 32px;
}

.about__image--wrapper {
  padding: 10px;
}

@media screen and (max-width: 1020px) {
  .aboutpage__image {
    width: 98%;
    height: 100%;
    object-fit: contain;
    border: 4px solid #616467;
  }
}
