.navigation__wrapper {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 0 0 10px 10px;
  padding: 50px 76px 20px;
  margin-bottom: 8px;
  max-width: 1440px;
}

.navigation__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #393d45;
  background-color: #f8f8f8;
}

.cart__button {
  border: none;
  background-color: transparent;
}

.cart__button--container,
.navigation__links--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation__links--container {
  min-width: 30%;
}

.cart__button--wrapper {
  position: relative;
  cursor: pointer;
  padding: 0 60px;
}

.cart__button--counter {
  position: absolute;
  top: 0px;
  right: 60px;
  font-size: 10px;
  line-height: 10px;
  background: #ff6565;
  color: #f5f7fb;
  border-radius: 50%;
  padding: 1px 2px;
}

.hidden {
  display: none;
}

.active{
//  font-weight: bold;
//  text-decoration: underline;
}

@media screen and (max-width: 770px) {
  .navigation__wrapper {
    padding: 0px;
    height: 112px;
    display: none;
  }

  .logo__wrapper {
    padding-left: 55px;
  }
}

@media screen and (max-width: 360px) {
  .navigation__wrapper {
    padding: 0px;
    height: 53px;
    display: none;
  }

  .logo__wrapper {
    padding-left: 20px;
    width: 80px;
  }
}




