.emptycart__container {
  margin: 0 auto;
}

.cart__button--wrapper {
  display: flex;
  justify-content: center;
}

.cart__details {
  width: 87%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% auto auto auto;
  font-size: 20px;
  line-height: 24px;
  color: black;
}

.checkout__button--container {
  display: inline-block;
  display: flex;
  justify-content: end;
  margin: 80px 87px 110px 0;
}

@media screen and (max-width: 770px) {
  .checkout__button--container {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 500px) {
  .cart__details {
    display: none;
  }

  .checkout__button--container {
    margin: 30px 20px;
  }

  .cart__button--wrapper {
    margin: 0 20px;
    padding: 0px;
  }
}
