.emptycart__container {
  margin: 0 auto;
}

.cart__button--wrapper {
  display: flex;
  justify-content: center;
}

.cart__details {
  width: 87%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% auto auto auto;
  font-size: 20px;
  line-height: 24px;
  color: black;
}

.subtotal__container {
  max-width: 550px;
  padding: 28px 54px;
  margin-top: 95px;
  margin: 0 auto;
  margin-right: 87px;
  background: #f8f8f8;
}

.checkout__button--container {
  display: inline-block;
  display: flex;
  justify-content: end;
  margin: 80px 87px 110px 0;
}

.subtotal__line {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 770px) {
  .subtotal__container {
    margin: 98px 20px 52px;
  }

  .checkout__button--container {
    margin-top: 50px;
  }
}

@media screen and (max-width: 500px) {
  .cart__details {
    display: none;
  }

  .subtotal__container {
    max-width: 326px;
    padding: 22px 32px;
    margin-top: 54px;
    margin: 54px 20px 32px;
  }

  .checkout__button--container {
    margin: 30px 20px 0px;
  }

  .cart__button--wrapper {
    margin: 0 20px;
    padding: 0px;
  }
}
