.home__product--container {
  background-color: #f8f8f8;
  padding: 62px 74px;
  text-align: center;
}

.product__card--container {
  background-color: transparent;
  max-height: min-content;
  margin-bottom: 66px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 40px;
  width: 100%;
  height: 1000px;
}

@media screen and (max-width: 950px) {
  .home__product--container {
    padding: 40px;
    justify-items: center;
  }

  .product__card--container {
    grid-template-columns: auto auto auto;
    gap: 30px;
    height: 800px;
  }
}

@media screen and (max-width: 600px) {
  .home__product--container {
    padding: 20px;
    justify-items: center;
    min-width: 300px;
  }

  .product__card--container {
    grid-template-columns: auto auto;
    gap: 20px;
    justify-items: center;
    height: 100%;
  }
}
