.login__header--wrapper {
  width: 90%;
  margin: 35px auto;
}

.login__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 132%;
  letter-spacing: 0.015em;
  color: #334756;
  text-transform: uppercase;
}

.login__name--input,
.login__password--input {
  border: none;
  background: #f3f6ff;
  border-radius: 30px;
  padding: 15px 0 15px 18px;
  margin: 20px 0;
  width: 100%;
}

.login__name--input::placeholder {
  background: url(../../../public/assets/icons/user_1.svg);
  background-repeat: no-repeat;
  background-position: left;
  color: #8e8e8e;
  text-align: center;
}

.login__password--input::placeholder {
  background: url(../../../public/assets/icons/lock_1.svg);
  background-repeat: no-repeat;
  background-position: left;
  color: #8e8e8e;
  text-align: center;
}

.login__button {
  background: #211f1c;
  border-radius: 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fbfbfb;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 14px 0;
  margin: 40px 0;
}

.disabled {

}

.login__span--text{
  text-decoration: underline;
  cursor: pointer;
  &:hover{
    color:#8e8e8e;
  }
}