.partner__container {
  padding: 114px 0;
  background-color: #ffffff;
}

.partner__logos--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.partner__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #393d45;
  padding: 0 0 50px;
  text-transform: capitalize;
}

.partner__logo--jpmorgan {
  background: url("../../../../public/assets/logo/jp-morgan-1.png");
}

.partner__logo--ousho {
  background: url("../../../../public/assets/logo/oysho-1.png");
}

.partner__logo--pullbear {
  background: url("../../../../public/assets/logo/pull-bear-2.png");
}

.partner__logo--rosewood {
  background: url("../../../../public/assets/logo/rosewood.png");
}

.partner__logo {
  width: 100%;
  height: 46px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 10px;
}

.partner__logo--wrapper {
  width: 40%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-around;
}

@media screen and (max-width: 770px) {
  .partner__container {
    padding: 56px 0;
  }

  .partner__logo--wrapper {
    width: 80%;
    margin-bottom: 20px;
  }

  .partner__logos--container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 360px) {
  .partner__container {
    padding: 20px 0;
  }

  .partner__logos--container {
    flex-direction: column;
  }
}
