.sorting__small--line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px auto;
  font-size: 14px;
  line-height: 132%;
  letter-spacing: 0.015em;
  color: #000000;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.filtr__counter {
  text-decoration: underline;
}

.sorting__small--options {
  background: #ffffff;
  border: 0.5px solid #acacac;
  border-radius: 10px;
  font-size: 14px;
  line-height: 132%;
  letter-spacing: 0.015em;
  color: #616467;
}

.filtr__icon--btn {
  cursor: pointer;
  border: none;
  background: transparent;
}
